<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timocoin API</title>
    <link rel="stylesheet" href="/styles/exchange.css"/>
    <link rel="shortcut icon" href="/images/timo.ico" type="image/x-icon">
    <link rel="icon" href="/images/timo.ico" type="image/x-icon">
</head>
<body>
    <%- include('title') %>
    <div class="exchange_container">
        <div class="com">
            <div class="left">
                <div class="say">
                    Want to Trade Timocoin?
                </div>
                <div class="small_say">
                    You can use our exchange!<br>
                    Click this Button!
                </div>
                <a href="http://127.0.0.1:3000">
                    <input type="button" value="Go trade!">
                </a>
            </div>
            <img src="/images/com_pic2.png" width="800px" height="500px">
        </div>
        <div class="com">
            <img src="/images/com_pic3.png" width="800px" height="500px">
            <div class="left">
                <div class="say">
                    Do you want a cheap fee?
                </div>
                <div class="small_say">
                    Mincho Trade is cheaper than<br>
                    other Trade!
                </div>
                <a href="http://127.0.0.1:3000">
                    <input type="button" value="Go trade!">
                </a>
            </div>
        </div>
        <div class="com">
            <div class="left">
                <div class="say">
                    Real-time revenue can be seen!
                </div>
                <div class="small_say">
                    Assets can be viewed<br>
                    in real time!
                </div>
                <a href="http://127.0.0.1:3000">
                    <input type="button" value="Go trade!">
                </a>
            </div>
            <img src="/images/com_pic1.png" width="800px" height="500px">
        </div>
        
        
    </div>
</body>
</html>