<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="/styles/sign.css">
    <link rel="shortcut icon" href="/images/timo.ico" type="image/x-icon">
    <link rel="icon" href="/images/timo.ico" type="image/x-icon">
</head>
<body>
    <%- include('title') %>
    <div class="wrapper">
        <div class="container">
            <h1>Sign In</h1>
            <form action="/signin" method="POST" id="signInForm" class="form" name="signin">
                <input type="text" id="id" name="id" maxlength="15" placeholder="USERNAME" autocomplete="off" required/>
                <input type="password" id="password" name="password" maxlength="20" placeholder="PASSWORD" autocomplete="off" required>
                <button type="submit" id="button" class="button">SIGN IN</button>
                <p><a href="/signup" class="goSign">Sign Up</a></p>
            </form>
        </div>
    
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>