<html>
<head>
    <title>test</title>
</head>
<body>

    <div class="container">
        <p><b>test</b></p>
        <form action="/test/inp" method="post">
            <input type="text" name="input"/>
        <button type="submit">gg</button>
        <a href="/test/getblock">gogo</a>
        </form>
        <!-- <p><b>blockHeight</b>< blockHeight %></p> -->
        
    </div>
</body>
</html>